<div class="ui-controls">
	<div class="ui-control ui-global-control" data-ui-toggle-control="labels" title="Toggle Labels">
		<svg>
			<use xlink:href="#ui-icon-labels" />
		</svg>
	</div>
	<div class="ui-control ui-global-control" data-ui-toggle-control="notes" title="Toggle Notes">
		<svg>
			<use xlink:href="#ui-icon-notes" />
		</svg>
	</div>
	<div class="ui-control ui-global-control" data-ui-toggle-control="code" title="Toggle Code">
		<svg>
			<use xlink:href="#ui-icon-code" />
		</svg>
	</div>
</div>
