<!doctype html>
<html lang="en-GB">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/patterns/styles/screen.css">
	<!-- /toolkit styles -->

	{{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/ui/styles/ui.css">{{/if}}

  <!-- govuk_elements JS is dependant on jQuery so we've included it here -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/patterns/scripts/vendor/jquery1.11.0.min.js"><\/script>');</script>

</head>
<body>
	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

	<div id="skiplink-container">
    	<div>
        	<a href="#content" class="skiplink">Skip to main content</a>
    	</div>
    </div>

	{{#if fabricator}}
		{{> ui-icons}}
		{{> ui-menu}}
		<div class="ui-container">
			{{> ui-control-bar}}
	{{else}}
		{{> headers.commercial-header}}
	{{/if}}

	<main id="content" role="main">
		{% body %}
	</main>


	{{#if fabricator}}
		</div>
		<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/ui/scripts/ui.js"></script>
	{{else}}
		{{> footer}}
	{{/if}}

	<!-- toolkit scripts -->
		<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/patterns/scripts/app.js"></script>
	<!-- /toolkit scripts -->

	<!-- if no GOVUK-namespaced module has loaded we can assume JS has failed and remove the class !-->
	<!-- <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script> -->
</body>
</html>
