<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Check your answers before sending your application</h1>

        <h2 class="heading-medium">Personal details</h2>
        <table>
            <tbody>
                <tr>
                    <td class="bold">Name</td>
                    <td>Sarah Philips</td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <td class="bold">Date of birth</td>
                    <td>5 January 1978</td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <td class="bold">Home address</td>
                    <td>
                        72 Guild Street<br>
                        London<br>
                        SE23 6FH
                    </td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <td class="bold">Contact details</td>
                    <td>
                        07700 900457<br>
                        sarah.philips@example.com
                    </td>
                    <td><a href="#">Change</a></td>
                </tr>
            </tbody>
        </table>

        <h2 class="heading-medium">Applicaton Details</h2>
        <table>
            <tbody>
                <tr>
                    <td class="bold">Previous application number</td>
                    <td>502135326</td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <td class="bold">Licence type</td>
                    <td>For personal use</td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <td class="bold">Home address</td>
                    <td>
                        72 Guild Street<br>
                        London<br>
                        SE23 6FH
                    </td>
                    <td><a href="#">Change</a></td>
                </tr>
                <tr>
                    <td class="bold">Licence period</td>
                    <td>
                        <p>This is a longer paragraph of text provided by the user to provide additional information.</p>
                        <p>This is a second paragraph of text provided by the user.	</p>
                    </td>
                    <td><a href="#">Change</a></td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-medium">Now send your application</h3>
        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <a href="#" class="button">Accept and send application</a>
    </div>
</div>
