<div class="grid-row">
    <div class="column-full">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">Application complete</h1>
            <p class="font-medium">Your reference number is <br><span class="bold">HDJ2123F</span></p>
        </div>
        <p>We have sent you a confirmation email.</p>
    </div>
    <div class="column-two-thirds">
        <h2 class="heading-medium">What happens next</h2>
        <p>We've sent your application to Hackney Electoral Register Office.</p>
        <p>They will contact you either to confirm your registration, or to ask for more information.</p>
        <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
</div>
