<style>


ul.nav-list li{
    border-bottom: solid 1px #DEE0E2;
}

</style>


{{> breadcrumb }}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Council Tax bands and amounts</h1>

        <p class="lede">Council Tax is collected and used by local councils to help pay for local services like schools, the police and refuse collections. It is based on a banded property valuation of dwellings (domestic homes). The amount of Council Tax you pay will depend on the band your property is in and the number of adults who live there.</p>
        <p>Your Council Tax bill is the legal notice that details the amount you need to pay. This example bill explains what the different parts of your Council Tax bill mean.</p>

<h2 class="heading-large">Council Tax bands</h2>

<p>Each property has been put into one of 8 valuation bands, according to what it was worth on 1st April 1991. This valuation was completed by the Valuation Office Agency, which is part of HM Revenue & Customs, not the Council. The amount of Council Tax you pay is based on the band your home is in. This band is shown on the front of your Council Tax bill.</p>

<p>If you don't know which valuation band your property is in, you can find out by contacting us, or by using the GOV.UK postcode search.</p>

<table>
	<thead>
		<tr>
			<th scope="col">Valuation bands</th>
			<th class="numeric" scope="col">Range of capital values</th>
			<th class="numeric" scope="col">Multiplier to band D</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">A</th>
			<td class="numeric">Up to and incl. £40,000</td>
			<td class="numeric">6/9th</td>
		</tr>
		<tr>
			<th scope="row">B</th>
			<td class="numeric">£40,001 to £52,000</td>
			<td class="numeric">7/9th</td>
		</tr>
		<tr>
			<th scope="row">C</th>
			<td class="numeric">£52,001 to £68,000</td>
			<td class="numeric">8/9th</td>
		</tr>
		<tr>
			<th scope="row">D</th>
			<td class="numeric">£68,001 to £88,000</td>
			<td class="numeric">1x</td>
		</tr>
		<tr>
			<th scope="row">E</th>
			<td class="numeric">£88,001 to £120,000</td>
			<td class="numeric">11/9th</td>
		</tr>
		<tr>
			<th scope="row">F</th>
			<td class="numeric">£120,001 to £160,000</td>
			<td class="numeric">13/9th</td>
		</tr>
		<tr>
			<th scope="row">G</th>
			<td class="numeric">£160,001 to £320,000</td>
			<td class="numeric">15/9th</td>
		</tr>
		<tr>
			<th scope="row">H</th>
			<td class="numeric">More than £320,000</td>
			<td class="numeric">2x</td>
		</tr>
	</tbody>
</table>

<h2 class="heading-large">How we calculate the Council Tax</h2>
<p class="bold-small">We estimate how much we need to raise from Council Tax. This will depend on;</p>
<ul class="list-bullet">
	<li>how much we plan to spend on providing services to the people of Bath & North East Somerset</li>
	<li>how much will be funded through fees and charges, and</li>
	<li>the amount of support provided by Government grants and Business Rates.</li>
</ul>
<p>This is converted into the tax for each valuation band, by taking into account the number of properties in each band using detailed Government rules.</p>
<p>
	Your guide to local Council spending and Council Tax, and additional leaflets provided by some Town and Parish Councils, are available in the Council Budgets & Spending section.
</p>


<h2 class="heading-large">If you think your property has been put into the wrong Council Tax band</h2>
<p>You need to make an appeal to the Valuation Office Agency. They will tell you how your Council Tax band has been worked out. They can also review your band if you provide information that suggests it's wrong (e.g. evidence that similar properties in your street are in a different band). If they agree your band is wrong, they’ll put it right, and we'll be able to update your Council Tax bill.
</p>

<p>This service is free. You do not have to pay to have your Council Tax band reviewed.  </p>

<p>You must continue to pay your Council Tax at the current rate while appealing against your Council Tax bill or property band. If your appeal is successful we will refund any Council Tax that you have overpaid.
</p>

<p class="bold-small">For further information about making an appeal against your banding, please visit GOV.UK or contact the local Valuation Office Agency:
</p>

<p>
<span class="bold-small">The Listings Officer</span></br>
Valuation Office Agency</br>
Council Tax West</br>
Overline House</br>
Blechynden Terrace</br>
Southampton</br>
SO15 1GW
</p>

<p class="bold-small">Telephone: 03000 501 501</br>
Email: ctwest@voa.gsi.gov.uk</p>

<h2 class="heading-large">Council Tax amounts</h2>
<p>Council Tax charges 2018/19 (PDF 96KB)</p>

<div class="notice">
	<i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
	<strong class="bold-small">
		Long-term empty properties: 150% Council Tax is charged on properties that have been empty for two years.
    </strong>
</div>

</div>
    <div class="column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="font-medium">Related links</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="paying-your-council-tax.html">Pay your council tax</a></li>
                        <li><a href="#">Council Tax bands and amounts</a></li>
                        <li><a href="">Discounts & Exemptions</a></li>
                        <li><a href="">Change of Address</a></li>
                        <li><a href="">Information for students</a></li>
                        <li><a href="">Problems paying your Council Tax?</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>
