<style>


ul.nav-list li{
    border-bottom: solid 1px #DEE0E2;
}

</style>


{{> breadcrumb }}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Council Tax</h1>
        <p class="lede">Council Tax is a property based tax payable on domestic (residential) homes. It's a local tax set by councils to help pay for local services, such as schools, libraries, and rubbish collections. The amount you have to pay is based on the value of the property and who lives there. </p>
<hr>

<ul class="nav-list">
    <li><a href="paying-your-council-tax.html"><h3 class="heading-medium">Paying your Council Tax</h3></a>
    <p>Easy online payments and other ways to pay your Council Tax bill.</p></li>

    <li><a href="council-tax-bands-and-amount.html"><h3 class="heading-medium">Council Tax bands and amounts</h3></a>
    <p>How your Council Tax is worked out, valuation bands (including how to make a free appeal if you think your home is in the wrong band), completion notices and current charges.</p>
</li>

<li><a href=""><h3 class="heading-medium">Discounts & Exemptions</h3></a>
<p>Find out if you could reduce the amount of Council Tax you have to pay.</p></li>

<li><a href=""><h3 class="heading-medium">Change of Address</h3></a>
<p>Use our online forms to let us know if you or your tenants are moving into, within, or out of the B&NES area.</p></li>

<li>
    <a href=""><h3 class="heading-medium">Information for students</h3></a>
    <p>Full time students may be exempt from paying Council Tax – find out how to claim your exemption.</p>
</li>

<li><a href=""><h3 class="heading-medium">Problems paying your Council Tax?</h3></a>
    <p>Advice if you're having trouble paying your Council Tax, and what happens if you’ve missed a payment.</p></li>
</ul>











<div class="breakout-box"><h2 class="heading-large">Council Tax Support Scheme - changes from April 2017</h2>
<p>From 1st April 2017, new Council Tax Support Scheme rules apply to claimants who are on Universal Credit.</p>
<p>Find out more about the changes by visiting Council Tax Support Scheme – changes from April 2017.</p></div>

</div>
<div class="column-one-third">
      <div class="aside-container">
          <aside class="aside" role="complementary">
              <h2 class="font-medium">Related links</h2>

              <nav class="aside__nav" role="navigation">
                  <ul class="">
                      <li><a href="paying-your-council-tax.html">Pay your council tax</a></li>
                      <li><a href="council-tax-bands-and-amount">Council Tax bands and amounts</a></li>
                      <li><a href="discounsandexemptions.html">Discounts & Exemptions</a></li>
                      <li><a href="http://bathnes-prototype.surge.sh/index.html">Change of Address</a></li>
                      <li><a href="">Information for students</a></li>
                      <li><a href="problems-paying-your-council-tax.html">Problems paying your Council Tax?</a></li>
                  </ul>
                  
              </nav>
          </aside>
      </div>
  </div>
</div>
