<style>


ul.nav-list li{
    border-bottom: solid 1px #DEE0E2;
}

</style>


{{> breadcrumb }}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Discounts and exemptions</h1>

        <h2 class="heading-small"></h2>
        <p>
          You could get a discount on your Council Tax bill if you:
        </p>

        <ul class="list list-bullet">
          <li>live alone (the Single Person's Discount),</li>
          <li>live with people who aren't counted for Council Tax, or</li>
          <li>have a self-contained annexe which is currently occupied by you, or a member of your family.</li>
        </ul>
<a href="/" class="button button-start">More about Council Tax discounts</a>

<hr>


<h3 class="heading-medium">Student reductions</h3>
<p>If you or someone you live with is a student we may be able to reduce your bill. Students who live in halls of residence or ‘student houses’ don't have to pay any Council Tax.</p>

<a class="" href="">More information for students</a>

<h3 class="heading-medium">Reductions for people with disabilities</h3>
<p>If your home is adapted for a disabled person, you may qualify for a reduction in your Council Tax bill.</p>

<a href="" class="">More about reductions for people with disabilities</a>

<h3 class="heading-medium">Exemptions</h3>
<p>An exemption from Council Tax means that there is no Council Tax to pay.
</p>
<p>If the property is unoccupied it may be exempt indefinitely, or just for a short period of time. Some occupied properties are also exempt, but it depends who lives there.
</p>

<div class="breakout-box">


	<p class="bold">
        If you own a long-term empty property - we now charge 150% Council Tax on properties that have been empty for two years. This started on 1 April 2013. The aim of this is to try and reduce the number of long-term empty properties in our area so we can get as many as possible back into use for local people.</p>
</div>


<a href="" class="">More about Council Tax exemptions</a>

<hr>

<h2 class="heading-large">Help to pay your bill</h2>
<h3 class="heading-medium">Council Tax Support</h3>
<p>If you're on a low income you could qualify for Council Tax Support. This reduces the amount of Council Tax you have to pay and will be taken straight off your bill. If you’re renting your home, you may also be able to claim Housing Benefit.</p>
<h3 class="heading-medium">Discretionary Council Tax payments</h3>
<p>The Welfare Support Scheme can provide extra short-term help towards paying your bill if you’re already getting Council Tax Support.</p>
<p>For more information about Council Tax Support, Housing Benefit and the Welfare Support Scheme, please visit the Benefits section.</p>
<p class="bold">If you've moved out of your home due to flooding, we may be able to offer you short-term assistance towards your Council Tax bill. </p>
<p>We will need you to provide the following information in order to assess your claim for assistance:</p>
<ul class="list list-bullet">
    <li>The address of the property that has been flooded, and confirmation that this is your main residence.</li>
    <li>The date the property was flooded, and the date that you moved out.</li>
    <li>The address where you are currently living.</li>
    <li>Whether or not your insurance covers Council Tax payments.</li>
</ul>

<p>To apply, please email <a href="mailto:counciltax@bathnes.gov.uk">counciltax@bathnes.gov.uk</a>, or write to us at Council Tax, Lewis House, Manvers Street, Bath, BA1 1JG.</p>
<h3 class="heading-medium">If you’ve been granted a discount or exemption already...</h3>
<p>This will be shown on the front of your Council Tax bill. You must tell us about any changes in your circumstances that may affect your entitlement to a discount or exemption, as soon as they happen. If you don't tell us you may have to pay a penalty.</p>
<p>We periodically check accounts that have been granted discounts and exemptions, and we reserve the right to use credit reference agencies to validate claims. If we contact you to review your discount or exemption and we don’t hear back from you, we will cancel it.</p>
<hr>
<h2 class="heading-large">
    Council Tax fraud
</h2>
<p>Council Tax fraud is when a person deliberately gives incorrect or misleading information in order to pay less or no Council Tax. This could be when a person claims to live in a single-person household when more than one person lives there, or they might claim to be a student when they are not, or claim a discount that they are not entitled to.</p>

<p>If you suspect that someone is fraudulently claiming a Council Tax discount or exemption, please contact us.</p>

<p>If you suspect that someone is claiming benefit fraudulently, please report it to the National Benefit Fraud Hotline online; or by calling 0800 854 440 (textphone 0800 328 0512).</p>


</div>
    <div class="column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="font-medium">Related links</h2>

                <nav class="aside__nav" role="navigation">
                    <ul class="">
                        <li><a href="paying-your-council-tax.html">Pay your council tax</a></li>
                        <li><a href="council-tax-bands-and-amount">Council Tax bands and amounts</a></li>
                        <li><a href="discounsandexemptions.html">Discounts & Exemptions</a></li>
                        <li><a href="http://bathnes-prototype.surge.sh/index.html">Change of Address</a></li>
                        <li><a href="">Information for students</a></li>
                        <li><a href="">Problems paying your Council Tax?</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
