---
layout: hero
---

<div class="breakout-box breakout-box-alt-primary breakout-box-alt-primary-home">
        <div class="grid-row">
        <div class="column-one-third">
            <h2 class="heading-large">Report</h2>
            <ul class="list">
                <li><a href="">Problem with a road or pavement</a></li>
                <li><a href="">Missed bin collection</a></li>
                <li><a href="">Missed recycling collection</a></li>
                <li><a class="bold" aria-label="View more: Report it" href="http://www.bathnes.gov.uk/reportit">View all</a></li>
            </ul>
        </div>
        <div class="column-one-third">
            <h2 class="heading-large">Apply</h2>
            <ul class="list">
                <li><a href="">School places</a></li>  
                <li><a href="">Residents Discovery card</a></li>  
                <li><a href="">Apply for Planning Permission</a></li> 
                <li><a class="bold" aria-label="View more: Pay for it" href="http://www.bathnes.gov.uk/pay">View all</a></li> 
            </ul>
        </div>
        <div class="column-one-third">
            <h2 class="heading-large">Pay</h2>
            <ul class="list">
                <li><a href="">Parking ticket</a></li>  
                <li><a href="">Council tax</a></li>  
                <li><a href="">Garden waste bin</a></li>  
                <li><a class="bold" aria-label="View more: Pay for it" href="http://www.bathnes.gov.uk/pay">View all</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">    
    <h2 class="heading-large">Our Services</h2>
    
            <div class="grid-row">
                    <div class="column-one-quarter">
                        <h4 class="heading-medium"><a class="button button-services" href="#" >Bins, recycling &amp; rubbish</a></h4>
                    
                    </div>
            
                    <div class="column-one-quarter">   
                        <h4 class="heading-medium"><a href="parking-travel.html" class="button button-services">Parking &amp; Travel</a></h4>
                        
                    </div>
            
                    <div class="column-one-quarter">
                        <h4 class="heading-medium"><a href="planning.html" class="button button-services">Planning &amp; Building Control</a></h4>
                        </div>
                    <div class="column-one-quarter">
                        <h4 class="heading-medium"><a href="" class="button button-services">Street care &amp; cleaning</a></h4>
                    </div>

                </div>
  

                <div class="grid-row">

                        <div class="column-one-quarter">
                            <h4 class="heading-medium"><a href="" class="button button-services">Schools</a></h4>
                        </div>
                
                        <div class="column-one-quarter">
                            <h4 class="heading-medium"><a href="section2.html" class="button button-services">Libraries &amp; Archives </a></h4>
                        </div>
                        <div class="column-one-quarter">
                            <h4 class="heading-medium"><a href="" class="button button-services">Your council</a></h4>
                        </div>
                
                        <div class="column-one-quarter">
                            <h4 class="heading-medium"><a href="" class="button button-services">Tourism, heritage, sport &amp; Leisure</a></h4>
                        </div>
                    </div>

                    <div class="grid-row">
                            <div class="column-one-quarter">
                                <h4 class="heading-medium"><a href="" class="button button-services">Environment</a></h4>
                            </div>

                            <div class="column-one-quarter">
                                <h4 class="heading-medium"><a href="" class="button button-services">Children</a></h4>
                            </div>
                    
                            <div class="column-one-quarter">
                                <h4 class="heading-medium"><a href="" class="button button-services">Business</a></h4>
                            </div>
                    
                            <div class="column-one-quarter">
                                <h4 class="heading-medium"><a href="" class="button button-services">Births, marriages &amp; deaths</a></h4>
                            </div>
                        </div>
    
                        <div class="grid-row">
                                <div class="column-one-quarter">
                                    <h4 class="heading-medium"><a href="" class="button button-services">Housing</a></h4>
                                </div>
                        
                                <div class="column-one-quarter">
                                    <h4 class="heading-medium"><a href="parking.html" class="button button-services">Tourism, heritage, sport &amp; Leisure</a></h4>
                                </div>
                        
                                <div class="column-one-quarter">
                                    <h4 class="heading-medium"><a href="section2.html" class="button button-services">Care and support</a></h4></div>
                            </div>
    
 
</div>
</div>
