<style>
.card{
	background:#F8F8F8;
	padding:1em;
	text-align: center;
}

.card:hover{
	background:#DEE0E2;
}
</style>

<h1 class="heading-xlarge">Self serve</h1>
<hr />


<div class="grid-row">

<div class="column-one-third">

			<a href="https://www.curo-group.co.uk/">
			<div class="card">
				<img src="/images/curo.png" alt="curo logo">
			<h3 class="heading-medium">CURO</h3>
		</a>
			</div>
</div>


<div class="column-one-third">

			<a href="https://www.curo-group.co.uk/">
			<div class="card">
				<img src="/images/curo.png" alt="curo logo">
			<h3 class="heading-medium">CURO</h3>
		</a>
			</div>
</div>



</div>
