

{{> breadcrumb }}
<div class="grid-row">
    <div class="column-two-thirds">

            <a href="/templates/find-place-to-park.html" class="link-back">Back</a>
        <h1 class="heading-xlarge">Manvers Street Car Park</h1>
        <p class="font-medium">5A Manvers Street, Bath BA1 1JQ
            </br>
             <a href="#">(Open in Google Maps <i class="fa fa-external-link" aria-hidden="true"></i>)</a> 
            </p>

            <div class="breakout-box breakout-box-twitter-update">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <h3 class="bold-medium">Optional twitter Alert Panel for Location Based updates</h3>
                    
            
                </div>
               <hr>

           
            <div class="data">
                    <span class="data-item bold-xsmall">There are currently</span>
                    <span class="data-item bold-xlarge">60 spaces available</span>
                    <span class="data-item bold-xsmall">Filling up</span>
                </div>

        <hr>
        <h2 class="heading-large">
        Facilities
        </h2>    

        <ul class="list list-bullet">
            <li>Height Restriction: 6 feet 6 inches / 1.98 metres</li>
            <li>Open 24hrs a Day</li>
            <li>Disabled Parking Bays</li>
            <li>Long Stay Car Park</li>
        </ul>
       





        
            <h2 class="heading-large">
                Car Park Charges
            </h2>
            <ul class="list list-bullet">
                <li>Charges apply Monday to Sunday between 8am to 8pm, including bank holidays</li>
<li>Charges apply to Blue Badge holders unless specified otherwise by signage</li>
<li>Please refer to signage located in car parks for further information including bank holiday charges</li>
<li>All parking can be paid for through our cashless payment system</li> 
            </ul>

            <table>
                    <thead>
                        <tr>
                            <th scope="col">Hours</th>
                            <th class="numeric" scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2hrs</th>
                            <td class="numeric">£3.10</td>
                        </tr>
                        <tr>
                            <th scope="row">3hrs</th>
                            <td class="numeric">£4.30</td>
                        </tr>
                        <tr>
                            <th scope="row">4hrs</th>
                            <td class="numeric">£5.40</td>
                        </tr>
                        <tr>
                            <th scope="row">6hrs</th>
                            <td class="numeric">£7.40</td>
                        </tr>
                        <tr>
                            <th scope="row">8hrs</th>
                            <td class="numeric">£9.90</td>
                        </tr>
                        
                        <tr>
                            <th scope="row">12hrs</th>
                            <td class="numeric">£12.50</td>
                        </tr>                
                    </tbody>
                </table>

                <h2 class="heading-large">
                        Multiple Day Stay Charges
                </h2>

                <table>
                        <thead>
                            <tr>
                                <th scope="col">Hours</th>
                                <th class="numeric" scope="col">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">2days</th>
                                <td class="numeric">25.00</td>
                            </tr>
                            <tr>
                                <th scope="row">3days</th>
                                <td class="numeric">£37.50</td>
                            </tr>
                            <tr>
                                <th scope="row">4days</th>
                                <td class="numeric">£50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">5days</th>
                                <td class="numeric">£62.50</td>
                            </tr>
                            <tr>
                                <th scope="row">6days</th>
                                <td class="numeric">£75.00</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">7days</th>
                                <td class="numeric">£87.50</td>
                            </tr>                
                        </tbody>
                    </table>
<br>
                    <a href="#" class="button button-start">Short stay cars parks</a>

    </div>
    <div class="column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="font-medium">Related links</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="#">Apply for a season parking permit</a></li>
                        <li><a href="#"> Street parking charges</a></li>
                        <li><a href="https://en.parkopedia.co.uk/parking/carpark/manvers_street/ba1/bath/?arriving=201807060830&leaving=201807061030">Parkopedia  <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                       
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>
