<div class="breadcrumb">
        <ol>
            <li><a aria-current="false" href="/templates/draft-homepage.html">Home</a></li>
            <li><a aria-current="false" href="/templates/parking-travel.html">Parking and Travel</a></li>
            
        </ol>
    </div>
<div class="grid-row">
    <div class="column-full">    
    <h1 class="heading-xlarge">Parking &amp; Travel</h1>
    <hr>
</div>
        <div class="column-one-quarter">
            <h4 class="heading-medium">
                
                <a target="_blank" class="button button-external" href="https://travelwest.info/park-ride/bath" >
                        
                        <div class="service-title">Find Park &amp; Ride times <i class="fa fa-external-link" aria-hidden="true"></i></div>
                    </a></h4>
        </div>
    
        <div class="column-one-quarter">
            <h4 class="heading-medium"><a class="button button-external" href="https://travelwest.info/bus/timetables-and-journey-planning">Find bus routes <i class="fa fa-external-link" aria-hidden="true"></i></a></h4>
        </div>
    
        <div class="column-one-quarter">
            <h4 class="heading-medium"><a class="button" href="https://travelwest.info/bus/timetables-and-journey-planning">Apply for a bus pass</a></h4>
        </div>

        <div class="column-one-quarter">
                <h4 class="heading-medium"><a class="button" href="find-place-to-park.html">Find a place to park</a></h4>
            </div>
    
    </div>
    
    <div class="grid-row">
    
        
        <div class="column-one-quarter">
            <h4 class="heading-medium">     <a class="button" href="">Pay a parking ticket</a></h4>
        </div>
    
        <div class="column-one-quarter">
            <h4 class="heading-medium"><a class="button">Apply for a parking permit</a></h4>
        </div>
    
    </div>
    
    
    
    <div class="grid-row">
        <div class="column-one-half">
            <h2 class="heading-large">Parking</h2>
            <hr>
            <ul class="list">
                <li><a href="/templates/find-place-to-park.html">Park in B&amp;NES</a></li>
                <li><a href="">Parking permits</a></li>
                <li><a href="">Parking bay suspensions</a></li>
                <li><a href="">Parking fines and clamping</a></li>
            </ul>
        </div>
        <div class="column-one-half">
            <h2 class="heading-large">Travel</h2>
            <hr>
            <ul class="list">
                <li><a href="">Bus passes</a></li>
                <li><a href="">Shopmobility</a></li>
                <li><a href="">Apply for a Blue Badge</a></li>
                <li><a href="">MOT Tests for residents </a></li>
                <li><a href="">Community transport</a></li>
                <li><a href="">Report bus issues</a></li>
            </ul>
        </div>
    </div>
