<div class="grid-row">
    <div class="column-full">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">Payment successful</h1>
            <p class="font-medium">Thank you. Your payment for <strong class="bold">&pound;30.00</strong> has been accepted</p>
            <p>We have emailed you a recipt to email@emailaddress.com </p>
        </div>
    </div>
    <div class="column-one-third">
        <div class="panel">
            <p>To print this page, click the print button</p>
            <a href="#" class="button">Print page</a>
        </div>
    </div>
    <div class="column-one-third">
        <div class="panel">
            <p>To display a VAT receipt, click the VAT button</p>
            <a href="#" class="button">VAT receipt</a>
        </div>
    </div>
    <div class="column-one-third">
        <div class="panel">
            <p>To finish this payment, and start another task, click Finish</p>
            <a href="#" class="button button--secondary">Finish</a>
        </div>
    </div>
</div>

<div class="section section--border-top">
    <div class="grid-row">
        <div class="column-full">
            <h2 class="section__heading">Recipt Details</h2>
        </div>
        <div class="column-one-half">
            <ul class="list">
                <li>Card type: VISA DELTA</li>
                <li>Card number: ************0000</li>
                </br>
                <li>Date: 29/11/2017</li>
                <li>Time: 20:14:04</li>
                </br>
                <li>Joe Bloggs</li>
                <li>123 Street Name</li>
                <li>Town</li>
                <li>City</li>
                <li>Postcode</li>
            </ul>
        </div>
        <div class="column-one-half">
            <ul class="list">
                <li>Recipt Number: ADBN00046603</li>
                <li>Authorisation code: 156454</li>
                <li>Merchant Number: ***56914</li>
                <li>Terminal: ****8921</li>
            </ul>
        </div>
        <div class="column-full">
            <p>The following payments have been made</p>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Fund</th>
                        <th scope="col">Payment Method</th>
                        <th class="numeric" scope="col">Amount (£)</th>
                        <th class="numeric" scope="col">Charge (£)</th>
                        <th class="numeric" scope="col">VAT</th>
                        <th scope="col">Reference</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Parking Tickets</th>
                        <td>Debit Card</td>
                        <td class="numeric">£30.00</td>
                        <td class="numeric">£0.00</td>
                        <td class="numeric">0.00</td>
                        <td>BN1587564</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Amount</th>
                        <td></td>
                        <td class="numeric">£30.00</td>
                        <td class="numeric"></td>
                        <td class="numeric"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
