<style>


ul.nav-list li{
    border-bottom: solid 1px #DEE0E2;
}

</style>


{{> breadcrumb }}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Problems paying your Council Tax?</h1>
        <p class="lede">We understand that some people genuinely struggle to pay their Council Tax and we will do all we can to help. Please contact us straight away if you're having difficulty paying and we'll do our best to help you.</p>
<hr>
<p>We are always willing to listen, and once we know that there is a problem, there are a number of ways that we might be able to help:</p>

<ul class="list list-bullet">
    <li><span class="bold">Set up a Direct Debit:</span> If you’ve received a Reminder Notice this is a good opportunity to set up a Direct Debit with us. Setting up a Direct Debit to pay your Council Tax ensures your payments are made on time each month. Visit the payments page to download a form or call us during office hours to set up a Direct Debit.</li>
    <li><span class="bold">Spread your instalments over 12 months instead of 10:</span> You have the option to ask us to spread your annual payments over 12 months instead of 10. If you wish to take up the option of 12 monthly instalments, please email counciltax@bathnes.gov.uk.  </li>
    <li><span class="bold">Extra help for people on a low income:</span> If you're on a low income, you might be entitled to some help towards paying your Council Tax. This type of support reduces the amount of Council Tax that you have to pay and is taken straight off your bill. Visit the Benefits section for more information.</li>
    <li><span class="bold">Council Tax discounts / reductions: </span>We will ask you about your circumstances to see if you could claim a discount or reduction on the amount of Council Tax you have to pay. Visit the discounts and exemptions section for more information.</li>
</ul>

<hr>

<h2 class="heading-large">Debt advice</h2>
<p>If you're struggling with your payments or other financial commitments, free and impartial advice is available through the following organisations:</p>
<ul class="list list-bullet">
    <li>Citizens Advice</li>
    <li>Step Change Debt Charity</li>
    <li>Talking Money (formerly Bristol Debt Advice Centre)</li>
</ul>

<h2 class="heading-large">Budgeting tools</h2>
<p>Online budgeting tools to help you understand what you’re earning and spending, and where you might be able to cut costs:</p>
<ul class="list list-bullet">
    <li>Policy in Practice budget calculator</li>
    <li>Citizens Advice budgeting tool</li>
</ul>

<h2 class="heading-large">More information</h2>
<p>If you can't find the answer to your query in the frequently asked questions below, or you need to talk to us about your Council Tax payments, please contact us as soon as possible.</p>
<ul class="list list-bullet">
    <li>What should I do if I miss a payment?</li>
    <li>Why have I received a reminder?</li>
    <li>Why have I received / What is a Final Notice?</li>
    <li>Why have I received / What is a summons?</li>
    <li>What is a liability order?</li>
    <li>What does a liability order allow the Council to do?</li>
</ul>

<h2 class="heading-large">What should I do if I miss a payment?</h2>
<p>If you've missed a payment you can pay this now using our online payments system.</p>
<p>Direct Debit is the easiest way to pay your Council Tax and the best payment method to avoid missing any future payments. To set up a Direct Debit; visit the payments page to download a form or call us during office hours.</p>
<p>If you're unable to make the payment you've missed, please contact us as soon as possible.</p>

<h2 class="heading-large">Why have I received a reminder?</h2>
<p>A Reminder Notice is issued when our records show that you have not made payment in line with the instalments set out on your Council Tax bill. You have 7 days to pay the amount due shown on the notice or you will lose your right to pay by instalments and be asked to pay the total remaining balance of your bill. </p>
<p>Please don’t ignore a Reminder Notice, because if we have to continue with recovery action against you, you may end up having to pay extra costs.</p>
<p>If you bring your account up to date within 7 days of a reminder being issued you can continue to pay by instalments. You can pay now using our online payments system.</p>
<p>As you've received a Reminder Notice, we would encourage you to take this opportunity to sign up to pay your future instalments by Direct Debit to avoid missing any future payments. To set up a Direct Debit; visit the payments page to download a form or call us during office hours.</p>

<h2 class="heading-large">Why have I received / What is a Final Notice?</h2>
<p>We're only required by law to send individuals 2 Reminder Notices for late payment in one financial year (start of April to the end of March). If you fail to pay on time for a third time in the same year, you'll immediately lose your right to pay by instalments and a Final Notice will be issued for the total remaining balance of your bill for the year.</p>
<p>If you've received a Final Notice and wish to pay the full amount now, please use our online payments system.</p>
<p>If you're having difficulties paying your Council Tax, please contact us straight away as there are a number of ways that we might be able to help you.</p>

<h2 class="heading-large">Why have I received / What is a summons?</h2>
<p>If your account has not been brought up to date as requested after being sent either a First or Second Reminder or a Final Notice, and you haven’t contacted us to talk about it, we will apply to the Magistrates’ Court to issue you with a summons. Costs of £68.00 will be added to the balance of your account when the summons is issued.</p>
<p>A summons is a request for you to appear before the Magistrates’ Court. You will not need to appear if you contact us to pay in full or to agree a payment arrangement. If the hearing does go ahead, you don't need to attend unless you are disputing liability for the outstanding amount. The court will not consider your ability to pay the amount due, only whether you are liable to pay the Council Tax.</p>
<p>If you've received a summons you should contact us straight away to discuss your account. Or, if you wish to pay the full amount now, please use our online payments system.</p>
</div>
    <div class="column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="font-medium">Related links</h2>

                <nav class="aside__nav" role="navigation">
                    <ul class="">
                        <li><a href="paying-your-council-tax.html">Pay your council tax</a></li>
                        <li><a href="council-tax-bands-and-amount">Council Tax bands and amounts</a></li>
                        <li><a href="discounsandexemptions.html">Discounts & Exemptions</a></li>
                        <li><a href="http://bathnes-prototype.surge.sh/index.html">Change of Address</a></li>
                        <li><a href="">Information for students</a></li>
                        <li><a href="problems-paying-your-council-tax.html">Problems paying your Council Tax?</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
