

{{> breadcrumb }}
<div class="grid-row">
    <div class="column-two-thirds">
            <a href="/templates/find-place-to-park.html" class="link-back">Back</a>
        <h1 class="heading-xlarge">Bath Sports and Leisure Centre Car Park</h1>
        <p class="font-medium">North Parade Road, Bath BA2 4ET
            </br>
             <a href="https://www.google.co.uk/maps/place/Bath+Sports+and+Leisure+Centre/@51.3813504,-2.3565477,17z/data=!3m1!4b1!4m5!3m4!1s0x4871810de7413029:0x9dd743565bd403c0!8m2!3d51.3813504!4d-2.354359" target="_blank">(Open in Google Maps <i class="fa fa-external-link" aria-hidden="true"></i>)</a> 
            </p>

        <div class="breakout-box breakout-box-twitter-update">
                <i class="fa fa-times" aria-hidden="true" onClick="this.parentNode.parentNode.removeChild(this.parentNode);"></i>
                <h3 class="font-medium">Bath Sports Centre Car Park is currently closed for resurfacing. We will be opening again on Monday at 6:30am.</h3>
                
        
            </div>

            <hr>
            <div class="data">
                    <span class="data-item bold-xsmall">There are currently</span>
                    <span class="data-item bold-xlarge">100 spaces available</span>
                    <span class="data-item bold-xsmall">Filling up</span>
                </div>

        <hr>
        <h2 class="heading-large">
        Facilities
        </h2>    
        <ul class="list list-bullet">
            <li>Height Restriction: 6 feet 6 inches / 1.98 metres</li>
            <li>Open 24hrs a Day</li>
            <li>Disabled Parking Bays</li>
            <li>Short Stay Car Park</li>
        </ul>
       



        
            <h2 class="heading-large">
                Car Park Charges
            </h2>
            <ul class="list list-bullet">
                <li>Charges apply Monday to Sunday between 8am to 8pm, including bank holidays</li>
<li>Charges apply to Blue Badge holders unless specified otherwise by signage</li>
<li>Please refer to signage located in car parks for further information including bank holiday charges</li>
<li>All parking can be paid for through our cashless payment system</li> 
            </ul>

            <table>
                    <thead>
                        <tr>
                            <th scope="col">Hours</th>
                            <th class="numeric" scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1hrs</th>
                            <td class="numeric">£1.60</td>
                        </tr>
                        <tr>
                            <th scope="row">2hrs</th>
                            <td class="numeric">£4.30</td>
                        </tr>
                        <tr>
                            <th scope="row">3hrs</th>
                            <td class="numeric">£5.40</td>
                        </tr>
                        <tr>
                            <th scope="row">4hrs</th>
                            <td class="numeric">£7.40</td>
                        </tr>
                               
                    </tbody>
                </table>

                
<br>
                    <a href="find-place-to-park.html" class="button button-start">Long stay cars parks</a>

    </div>
    <div class="column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="font-medium">Related links</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="#">Apply for a season parking permit</a></li>
                        <li><a href="#"> Street parking charges</a></li>
                        <li><a href="https://en.parkopedia.co.uk/parking/carpark/manvers_street/ba1/bath/?arriving=201807060830&leaving=201807061030">Parkopedia  <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                       
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>
